.tariff {
  display: flex;
  flex-direction: column;
  //min-width: 750px;


  color: var(--bs-dark);

  .tariff__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;

    p {
      justify-content: center;
      width: 70%;
      font-weight: bold;
      margin-bottom: 1rem;
      text-align: center;
    }
  }
  

  .tariff__pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media (max-width: 1420px) {
      display: block;

    }

    ul {
      @media (max-width: 1420px) {
        display: flex;
        justify-content: center;

      }

    }

    li {
      list-style: none;
      margin-right: 1rem;
      margin-top: 1rem;


    }


    //button {
    //  background-color: var(--bs-dark);
    //  color: var(--bs-white);
    //  border: none;
    //  padding: 0.5rem 1rem;
    //  border-radius: 5px;
    //  font-size: 1rem;
    //  font-weight: bold;
    //  cursor: pointer;
    //  transition: all 0.3s ease-in-out;
    //
    //  &:hover {
    //    background-color: var(--bs-white);
    //    color: var(--bs-dark);
    //    border: 1px solid var(--bs-dark);
    //  }
    //
    //  &:disabled {
    //    background-color: var(--bs-blue);
    //    color: var(--bs-dark);
    //    border: 1px solid var(--bs-dark);
    //    cursor: not-allowed;
    //  }
    //}
  }

  .header {
    text-align: center;

  }

  .tariff__disclaimer {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
  }


  @media (max-width: 1200px) {
    .tariff {
      display: grid;
      grid-template-columns:minmax(320px, 1fr);
      grid-template-areas:
      "title"
       "calc"
      "table";
    }
    .TariffCalc {
      display: block;
      position: relative;
      max-width: 700px;
      margin: 0 auto;

      button {
        margin-left: 5px;
      }


    }

  }
}
