._main {
  margin-left: 40px;
  margin-top: 50px;
}

.contact__container__img {

  img {
    width: 400px;

    object-fit: cover;
  }
}

.contact__container__img {
  margin-top: 20px;
}

.contact__container__title {
  margin-top: 20px;
}

.contact__container__bottom {
  margin-top: 20px;
}
