.container__body {
  margin-top: 50px;

  h1 {
    text-align: center;
  }


}

.h2 {
  text-align: center;
}

.text-body {
  text-align: center;
}

@media (max-width: 768px) {
  .card-group {
    margin-left: 70px;
  }
}


@media (max-width: 550px) {
  .card-group {
    margin-left: 100px;
  }
  .gap-sm-4 {
    gap: 1.5rem;
  }
}